#
# Copyright (C) 2025 AuxXxilium <https://github.com/AuxXxilium>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#

ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*|sata*|usb*", ATTR{size}=="0", RUN+="/bin/sh -c 'echo 1 > /sys/block/%k/device/delete'"